


*{
    box-sizing: border-box;
}

html, body, h1, h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
/*Stilizovanje pre ovoga je reset browsera*/
body{
    background-color: #EEE6FF;

}
.card{
   
max-width: 450px;

margin: 32px auto;

background: #FFFFFF;
box-shadow: 0px 45px 24px -32px #9684BD;
border-radius: 24px;
/*radijus se nije lepo video na kartici jer ga je slika prekrila sa ovim sklanjamo sliku i radijus je dosao na ok*/
overflow: hidden;
/*da bude pratila browser tj smanjivali i povecavali*/
object-fit: cover;
}

.card .logo{
   width: 100%;
  height: 225x;

}

.card-body{
    padding: 3rem;
}
.card-title{
    font-size: 24px;
    font-weight:700;
    text-align: center;
}
.card-divider{
    background-color: #DC3C80;
    width: 85px;
    height: 0px;
}
.card-description{
    /*dodala margine da bi bilo konzistentno postavili smo da sve bude na 22px top i botom a 0 left i right*/
    margin: 22px 0;
}

.plan{
    background: linear-gradient(90deg, #DC3C80 0%, #802D80 100%);
    box-shadow: inset 0px 4px 4px rgba(150, 132, 189, 0.32);
    border-radius: 8px;
    color: #FFFFFF;
    /*24px ili 2rem to je negde isto */
    padding: 2rem;
}
.plan-title{
    font-weight: 700;
    font-size: 24px;
}
.plan-description{
  /* Za paragraf je po defaultu 500 pa nam ovi i ne mora   font-weight: 500;*/
font-size: 14px;
}
.btn-container{
/*da uradimo poravnanje sa */
display: flex;
/*po defaultu je no wrap a ko nebude mesta onda ce pasti jedna ispod drugog */
flex-wrap: wrap;
/*stavljamo da je centrirano*/
justify-content: center;
/*razmak izmedju */
gap: 40px;
margin: 22px 0;
}

/*dodali smo zajednicku klasu za sve btn i oni mogu da imaju neka zajednicka svojstva 
pored te zajednicke klase imamo i modifikatore klase pa cemo preko tih modifikatora klase
menjati pojedinacne btn*/
.btn{
   font-size: 16px;
   /*postavljamo da bude pointer*/
   cursor: pointer;
   /*ovde se nalazi border a mi cemo sa ovim skinuti da ga nemamo*/
border: none;
}

.btn-p{
    background: #3300A2;
box-shadow: 0px 4px 11px -2px #9684BD;
border-radius: 40px;
/*boja slova je bela*/
color: white;
/*postavljamo pading na samom dugmetu*/
padding: 18px 42px;
font-weight: 700;

}

.btn-c{
    /*pozadina se menja,i da bi se menjalu u skladu sa pozadinom kartice postavljamo transparent */
    background-color: transparent;
    font-weight: 400;
    line-height: 19px;
    text-decoration: underline;
}